<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.dao.AccountDao">

    <!-- 添加代理。总部管理员 -->
    <insert id="add" keyProperty="id">
        insert into tb_account (
	         account,
	         password,
	         open_id,
	         name,
	         head_img,
	         gender,
	         mobile,
	         email,
	         status,
	         valid,
	         utime,
	         ctime
         ) values (
             #{account},
	         #{password},
	         #{openId},
	         #{name},
	         #{headImg},
	         #{gender},
	         #{mobile},
	         #{email},
	         #{status},
	         #{valid},
	         #{utime},
	         #{ctime}
         )
    </insert>
    
    <!-- 验证用户账号 唯一 -->
    <select id="getByAccount" parameterType="java.lang.String" resultType="com.zhsj.model.Account">
            select 
              a.id,
	          a.account,
	          a.password,
	          a.open_id 'openId',
	          a.name,
	          a.head_img 'headImg',
	          a.gender,
	          a.mobile,
	          a.email,
	          a.status,
	          a.valid,
	          a.utime,
	          a.ctime
         from tb_account a
         <where>
             a.account= #{account}
         </where>
    
    </select>
    
    <!-- 通过id查询用户 -->
    <select id="getById" parameterType="java.lang.Long" resultType="com.zhsj.model.Account">
         select 
              a.id,
	          a.account,
	          a.password,
	          a.open_id 'openId',
	          a.name,
	          a.head_img 'headImg',
	          a.gender,
	          a.mobile,
	          a.email,
	          a.status,
	          a.valid,
	          a.utime,
	          a.ctime
         from tb_account a
         <where>
            a.id = #{id}
         </where>
    </select>
    
    <!-- update account -->
    <update id="update" parameterType="com.zhsj.model.Account">
          update tb_account
          <trim prefix="set" suffixOverrides=",">
		          <if test="account != null and account != ''">
		               account = #{account},       
		          </if>
		          <if test="password != null and password != ''">
		              password = #{password},
		          </if>
		          <if test="openId != null and openId != ''">
		              openId = #{openId},
		          </if>
		          <if test="name != null and name != ''">
		              name = #{name},
		          </if>
		          <if test="headImg != null and headImg != ''">
		              head_img = #{headImg},
		          </if>
		          <if test="gender != null and gender != ''">
		              gender = #{gender},
		          </if>
		          <if test="mobile != null and mobile != ''">
		              mobile = #{mobile},
		          </if>
		          <if test="email != null and email != ''">
		              email = #{email},
		          </if>
		          <if test="status >= 0">
		              status = #{status},
		          </if>
		          <if test="valid >= 0">
		              valid = #{valid},
		          </if>
		          <if test="utime != null and utime != ''">
		              utime = #{utime},
		          </if>
          </trim>
          <where>
              id = #{id}
          </where>
    </update>
    
    <!-- 通过用户名和加密的密码查询用户 -->
    <select id="getByNameAndMd5Password" resultType="com.zhsj.model.Account">
           select 
	          a.id,
	          a.account,
	          a.password,
	          a.open_id 'openId',
	          a.name,
	          a.head_img 'headImg',
	          a.gender,
	          a.mobile,
	          a.email,
	          a.status,
	          a.valid,
	          a.utime,
	          a.ctime 
	       from tb_account a
	       <where>
	          a.account = #{username} and a.password = #{md5password}
	       </where>
    </select>
    
    
    <!-- 通过账户名称查询用户 -->
    <select id="getByName" resultType="com.zhsj.model.Account">
       select 
          a.id,
          a.account,
          a.password,
          a.open_id 'openId',
          a.name,
          a.head_img 'headImg',
          a.gender,
          a.mobile,
          a.email,
          a.status,
          a.valid,
          a.utime,
          a.ctime
       from tb_account a
          <where>
            a.valid = 1 and a.account = #{accountName} 
          </where>
    </select>
    
    <!-- 通过账户id  获取角色 -->
    <select id="getRole" parameterType="java.lang.Integer" resultType="com.zhsj.model.Role">
       select 
          role.id,
          role.name,
          role.valid
       from tb_role role 
       left join tb_account_bind_role abr
       on role.id = abr.role_id where role.valid = 1 and abr.account_id = #{id}
    </select>
    
    <!-- 根据组织查找用户 -->
    <select id="getListByPage" resultType="com.zhsj.model.Account">
       select 
          a.id,
          a.account,
          a.password,
          a.open_id 'openId',
          a.name,
          a.head_img 'headImg',
          a.gender,
          a.mobile,
          a.email,
          a.status,
          a.valid,
          a.utime,
          a.ctime
        from tb_account a 
        left join tb_account_bind_org ao
        on a.id = ao.account_id
        where ao.org_id = #{orgId} limit #{row},#{pageSize} 
    
    </select>
    <!-- 查询账户总数 -->
    <select id="getCount" resultType="java.lang.Integer">
       select 
          count(account.id) from 
       tb_account account 
       left join tb_account_bind_org ao
       on account.id = ao.account_id
       where ao.org_id = #{orgId}
    </select>
</mapper>