<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.dao.AccountDao">

    <!-- 添加代理。总部管理员 -->
    <insert id="add" keyProperty="id">
        insert into tb_account (
	         account,
	         password,
	         open_id,
	         name,
	         head_img,
	         gender,
	         mobile,
	         email,
	         status,
	         valid,
	         utime,
	         ctime
         ) values (
             #{account},
	         #{password},
	         #{openId},
	         #{name},
	         #{headImg},
	         #{gender},
	         #{mobile},
	         #{email},
	         #{status},
	         #{valid},
	         #{utime},
	         #{ctime}
         )
    </insert>
    
    <!-- 通过用户名和加密的密码查询用户 -->
    <select id="getByNameAndMd5Password" resultMap="accountRoleOrg">
           select 
	          a.id,
	          a.account,
	          a.password,
	          a.open_id 'openId',
	          a.name,
	          a.head_img 'headImg',
	          a.gender,
	          a.mobile,
	          a.email,
	          a.status,
	          a.valid,
	          a.utime,
	          a.ctime,
	          role.role_id rid,
	          org.org_id oid
	       from tb_account a
	       left join tb_account_bind_role role
	       on a.id = role.account_id
	       left join tb_account_bind_org org
	       on a.id = org.account_id
           where account = #{username} and password = #{md5password}
    </select>
    
    <resultMap type="com.zhsj.model.Account" id="accountRoleOrg">
       <id column="id" property="id"/>
       <result column="account" property="account"/>
       <result column="password" property="password"/>
       <result column="open_id" property="openId"/>
       <result column="name" property="name"/>
       <result column="head_img" property="headImg"/>
       <result column="gender" property="gender"/>
       <result column="mobile" property="mobile"/>
       <result column="email" property="email"/>
       <result column="status" property="status"/>
       <result column="valid" property="valid"/>
       <result column="ctime" property="ctime"/>
       <result column="utime" property="utime"/>
       <association property="role"  javaType="com.zhsj.model.Role">
	       <id column="rid" property="id"/>
       </association>
       <association property="org" javaType="com.zhsj.model.Org">
           <id column="oid" property="id"/>
       </association>
    </resultMap>
    <!-- 通过账户名称查询用户 -->
    <select id="getByName" resultMap="accountRoleOrg">
       select 
          a.id,
          a.account,
          a.password,
          a.open_id 'openId',
          a.name,
          a.head_img 'headImg',
          a.gender,
          a.mobile,
          a.email,
          a.status,
          a.valid,
          a.utime,
          a.ctime,
          role.role_id rid,
          org.org_id oid
       from tb_account a
       left join tb_account_bind_role role
       on a.id = role.account_id
       left join tb_account_bind_org org
       on a.id = org.account_id
       where a.valid = 1 and a.account = #{accountName} 
    </select>
    
    <!-- 通过账户id  获取角色 -->
    <select id="getRole" parameterType="java.lang.Integer" resultType="com.zhsj.model.Role">
       select 
          role.id,
          role.name,
          role.valid
       from tb_role role 
       left join tb_account_bind_role abr
       on role.id = abr.role_id where role.valid = 1 and abr.account_id = #{id}
    </select>
    <!-- accountRole -->
    <resultMap type="com.zhsj.model.Account" id="accountRole">
       <id column="id" property="id"/>
       <result column="account" property="account"/>
       <result column="password" property="password"/>
       <result column="open_id" property="openId"/>
       <result column="name" property="name"/>
       <result column="head_img" property="headImg"/>
       <result column="gender" property="gender"/>
       <result column="mobile" property="mobile"/>
       <result column="email" property="email"/>
       <result column="status" property="status"/>
       <result column="valid" property="valid"/>
       <result column="ctime" property="ctime"/>
       <result column="utime" property="utime"/>
       <association property="role"  javaType="com.zhsj.model.Role">
	       <id column="cid" property="id"/>
	       <result column="rname" property="name"/>
       </association>
    </resultMap>
    
    <select id="getListByPage" resultMap="accountRole">
       select 
          a.id,
          a.account,
          a.password,
          a.open_id 'openId',
          a.name,
          a.head_img 'headImg',
          a.gender,
          a.mobile,
          a.email,
          a.status,
          a.valid,
          a.utime,
          a.ctime,
          <!--  -->
          role.id cid,
          role.name rname
        from tb_account a 
        left join tb_account_bind_role abr
        on a.id = abr.account_id
        left join tb_role role
        on role.id=abr.role_id
        left join tb_account_bind_org ao
        on a.id = ao.account_id
        where ao.org_id = #{orgId} limit #{row},#{pageSize} 
    
    </select>
    <!-- 查询账户总数 -->
    <select id="getCount" resultType="java.lang.Integer">
       select 
          count(account.id) from 
       tb_account account 
       left join tb_account_bind_org ao
       on account.id = ao.account_id
       where ao.org_id = #{orgId}
    </select>
</mapper>