<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.dao.BmUserDao">


    <insert id="insert" useGeneratedKeys="true">
       insert into bmuser (
          account,
          password,
          name,
          gender,
          mobile,
          email,
          userGroupId,
          ctime,
          utime,
          isValid,
          status
       ) values (
          #{account},
          #{password},
          #{name},
          #{gender},
          #{mobile},
          #{email},
          #{userGroupId},
          #{ctime},
          #{utime},
          #{isValid},
          #{status}
       )
    
    </insert>
    
    
    
    <select id="getBmUserByName" resultType="com.zhsj.model.BmUser">
       select * from bmuser where account = #{account}
    </select>
    
    <select id="getBmUser" resultType="com.zhsj.model.BmUser">
       select * from bmuser where account = #{account} and password = #{password}
    </select>


    <select id="getBmUserById" resultType="com.zhsj.model.BmUser">
        select * from bmuser where id = #{id}
    </select>


    <select id="getBmUserList" resultType="java.util.List">
        select * from bmuser limit #{start},#{end}
    </select>
    
    
    <delete id="delete" parameterType="java.lang.Integer">
       delete from bmuser where id = #{id}
    </delete>
    
    <update id="update" parameterType="com.zhsj.model.BmUser">
        update bmuser set
              account = #{account},
              password = #{password},
              name = #{name},
              gender = #{gender},
              mobile = #{mobile},
              email = #{email},
              userGroupId = #{userGroupId},
              ctime = #{ctime},
              utime = #{utime},
              isValid = #{isValid},
              status = #{status} where id = #{id}
    </update>
</mapper>