<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.dao.ModuleBindRoleDao">

    <!--添加  -->
    <insert id="add">
        insert into tb_module_bind_role (
	          role_id,
		      module_id,
		      valid,
		      utime,
		      ctime
         ) values (
	          #{roleId},
		      #{moduleId},
		      #{valid},
		      #{utime},
		      #{ctime}
         )
    </insert>
    
    <!-- 通过角色id删除所有关联的模块-->
    <delete id="deleteAllByRoleId">
       delete from tb_module_bind_role where role_id = #{roleId}
    </delete>
    
    <!-- 通过id删掉 -->
    <delete id="deleteById">
       delete from tb_module_bind_role where id = #{id}
    </delete>
</mapper>