<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.dao.SequenceDao">

    <select id="getCode" resultType="java.lang.Long">
        select nextval('store_no')
    </select>
</mapper>