<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.dao.ShopsPaySetDao">


    <insert id="insert" useGeneratedKeys="true">
        insert into ShopsPayset (
            bmUserId,
            type
        ) values (
            #{bmUserId},
            #{type}
        )
    </insert>


    <select id="getListByBmUserId" parameterType="java.lang.Integer">
        select * from shopsPayset where bmUserId = #{bmUserId}
    </select>

    <select id="getPaysetById" parameterType="java.lang.Integer">
       select * from shopsPayset where id = #{id}
    </select>
    
    <delete id="delete">
       delete from shopsPayset where id = #{id}
    </delete>
</mapper>